*.iml
.gradle
/local.properties

/.idea/*
!/.idea/vcs.xml
!/.idea/encodings.xml

!/.idea/codeStyles
/.idea/codeStyles/*
!/.idea/codeStyles/codeStyleConfig.xml
!/.idea/codeStyles/Project.xml

!/.idea/inspectionProfiles
/.idea/inspectionProfiles/*
!/.idea/inspectionProfiles/Project_Default.xml

build

#/captures
#.externalNativeBuild
#.cxx
#local.properties
